<cript type="text/javascript" src="https://tracking.musixmatch.com/t1.0/AMa6hJCIEzn1v8RuOP" />
<p>
Hello World! I am using one of my favorite artists, COLDPLAY, for making the API calls to get the required info.<br>
 
</p>
<div class='artist-select row'>
<div class="col-md-6">
<button id="load-albums" {{action 'openModal' 'modal' 'artist.get' }}>
    Load Artists Info
  </button>
</div>
<br>
<br>
<div class="col-md-6">
<button {{action 'openModal' 'modal' 'artist.albums.get'}}>Load Albums</button>
</div>
</div>
{{outlet}}
{{outlet  'modal'}}
